@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.todo-header {
  display: flex;
  padding: 0 5%;
  background: url(./images/pexels-stephan-seeber-1054218.jpg) no-repeat;
  height: 200px;
}

.todo-header .app-title {
  color: #f5f5f5;
}

.todo-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

.complete {
  text-decoration: line-through;
}

li {
  margin-bottom: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 0 3px;
}
